@import "~bootstrap/scss/bootstrap";

body {
    font-family: sans-serif;
    background: #222;
    color: white;
    font-family: cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo {
    height: 5rem;
}

nav a:hover {
    background-color: white;
}

.active {
    background-color: white;
}

.cardBox img {
    height: 35rem;
}

.cardBox:hover {
    transform: scale(1.1);
}

.cardInfoBox {
    opacity: 0;
}

.cardInfoBox:hover {
    opacity: 1;
}

.cardInfoBox button:hover {
    background-color: white;
}

.subtitle {
    color: #0d6efd;
}

span {
    color: white;
}

.deb {
    border: 3px dashed blue;
}
